:root {
  /* Cores da Identidade PaperLess */
  --ion-color-primary: #FF6B00;
  --ion-color-primary-rgb: 255, 107, 0;
  
  /* Força o app inteiro a ser Claro/Minimalista */
  --ion-background-color: #FAFAFA !important;
  --ion-text-color: #111111 !important;
}

/* Removemos as transparências chatas do Material Design nos itens */
ion-item {
  --background: transparent !important;
  --border-color: transparent !important;
  --inner-padding-end: 0;
  --padding-start: 0;
}